// Buttons
//
// A majorities of buttons in the site are built from the same base class.
//
// Markup: buttons.hbs
//
// .button--primary   - Use this class to indicate that the button is the primary
//              feature of this form.
// :hover     - Highlight the button when hovered.
//
// Style guide:  components.buttons 

.button {
  display: inline-block;
  padding: 2em;
  text-align: center;
  color: #000;
  background: #ccc;
  transition: all .2s linear;
  
  &:hover {
    background: #000;
    color: #fff;
  } 
}

.button--primary {
  background: purple;
  color: white;
}